body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Whitespace left and right of viewport */
#div_layout {
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.tabs {
    display: flex;
    column-gap: 2rem;
    align-items: left;
    justify-content: center;
    padding-top: 40px;
    padding-bottom: 20px;
    flex: 0 0 auto;
}

.tab.active {
    color: rgb(50, 50, 50);
}

.tab:hover {
    color: gray
}

.tab>* {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.tab-content {
    flex: 1 1 0;
    min-height: 0;
}

.content_with_sidebar,
.content_without_sidebar {
    margin: 0 auto;
    width: 80%;
    max-width: 1700px;
}

.content_with_sidebar {
    display: flex;
    flex-direction: row;
    column-gap: 2rem;
}

.content_with_sidebar .content {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.content_with_sidebar .sidebar {
    width: 20%;
    overflow-y: auto;
}

.load_btn {
    width: fit-content;
    margin: 0 auto;
}

.table-wrapper {
    overflow-y: auto;
    height: 100%;
}

table thead th {
    position: sticky;
    top: 0px;
    background-color: #e1e6eb;
}

.page-wrapper {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
}

.article_layout {
    display: flex;
    margin: 2rem;
}

.article_text {
    flex: 0 0 80%;
    text-align: left;
}

.article_image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 0 0 20%;
    opacity: 70%;
}

.article_image img {
    width: 85%;
    height: 85%;
    object-fit: contain;
}

ul,
li {
    display: block  !important;
    list-style: none !important;
}

li:before {
    font-family: 'Material Icons Outlined';
    padding-right: 0.5rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.li-icon-host:before {
    content: 'computer';
}

.li-icon-kernel:before {
    content: 'developer_board';
}

.li-icon-total-packages:before {
    content: 'list_alt';
}

.li-icon-affected-packages:before {
    content: 'error';
}

.li-icon-affected-packages-dep:before {
    content: 'warning';
}

.li-icon-scan-start:before {
    content: 'alarm';
}

.li-icon-scan-end:before {
    content: 'alarm_on';
}

.li-icon-total-packet-count:before {
    content: 'dataset';
}

.li-icon-identified-packet-count:before {
    content: 'dataset_linked';
}
.li-icon-key-count:before {
    content: 'key';
}

/* Tooltip CSS */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}